h1 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin: 15px 0px;
    font-size: 3em;
}

.container {
	max-width: 700px;
	margin: 10px auto;
	padding: 0px;
	background-color: #e1e1e6;
}

.row {
	margin: 2px 0px;
    padding: 5px;
    /* line-height: 50px; */
}

.row::before {
    display: table;
    content: " ";
}

#header { 
	position: relative;
    background-color: #5c5457;
    color: #e1e1e6;
    padding: 5px 65px 5px 15px;
}

.menu {
    position: absolute;
    right: 0px;
    bottom: 5px;
    color: #5c5457;
    font-family: "Oswald", sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

.menu > .selector {
	line-height: 20px;
    height: 20px;
    background-color: #e1e1e6;
    padding: 0px 5px;
    margin: 2px 0px;
    width: 20px;
    overflow: hidden;
    float: right;
    clear: right;
    transition: width 0.4s linear;
    text-align: right;
}

.menu > .selector > p {
	margin-bottom: 0;
    margin-top: 0;
}

.menu .active, .menu .selector:hover {
    width: 65px !important;
    transition: width 0.4s linear;
    cursor: pointer;
}

.menu .selector .circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #5c5457;
    border: 1px solid #5c5457;
    float: left;
    margin: 5px 5px 5px 0px;
}

.menu #online {
    background-color: #b8cca6;
}

.menu #offline {
    background-color: #8ea7c2;
}

.online {
    background-color: #b8cca6;
    color: #5c5457;
}

.offline {
    background-color: #4a5e82;
    color: white;
}


/* STYLING STREAMS ROWS */
a:link {
    text-decoration: none;
    color: cornflowerblue;
}

a:hover {
    text-decoration: underline;
}

#streaming {
    width : 25vw;
}

#name {
    width: 120px;
}

#name, #streaming {
    line-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 20px;
}

.logo {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    border: 3px solid #e1e1e6;
}

.stream {
    display: inline-block;
    align-items: center;
}


@media (min-width: 768px) {
.stream {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    }
}

